# {{ ansible_managed }}
# custom undercloud parameters file
parameter_defaults:
  IronicDefaultDeployInterface: direct
  IronicImageDownloadSource: http
  HeatMaxJsonBodySize: 12000000
  MySQLServerOptions:
    mysqld:
      max_allowed_packet: 64M
